<div class="container mt-3">
  <hr/>
<app-count-empleados [todos]="obtenerTotalEmpleados()" [masculino]="obtenerTotalMasculinos()"
 [femenino]="obtenerTotalFemeninos()" (countRadioButtonChange)="empleadoCountRadioButtonChange($event)"></app-count-empleados>

                <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th> <th>Nombre</th> <th>Apellido</th> <th>Sexo</th> <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of listEmpleados"><!-- directiva para cargar datos en tabla usar Nombre array-->
            <tr *ngIf="radioButtonSeleccionado == 'Todos' || radioButtonSeleccionado == item.sexo ">
              <td>{{ item.num }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.apellido }}</td>
              <td>{{ item.sexo }}</td>
              <td>{{ item.salario  | currency }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <hr />
</div>
